body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.534);
}
#navigator{
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.534);
    border: 1px solid black;
    text-transform: uppercase;
    position: fixed;
    top: 0px;
    display: inline-block;
    text-align: center;
}
/*#logo{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 0px;
}*/
img{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
}
.navheader{
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: hsla(0,0%,100%,.7);
    font-size: 16px;
    line-height: 1px;
}
#slogan{
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}
.nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}
a:link{
    color: hsla(0,0%,100%,.7);
    text-decoration: none;
}
a:hover{
    color:rgb(0, 0, 0) ;
}
a:active{
    color:rgb(0, 0, 0) ;
}
a:visited{
    color: rgba(175, 34, 34, 0.185);
}
.div1{
    height: 1000px;
    width: 15vw;
    background-color: rgba(103, 100, 78, 0.534);
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.div2{
    height: 1000px;
    width: 62vw;
    background-color: rgba(103, 70, 78, 0.534);
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.div3{
    height: 1000px;
    width: 20vw;
    background-color: rgba(103, 130, 90, 0.534);
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: right;
}