*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(245, 243, 243, 0.726);
}
#navigator{
    width: 100%;
    height: 10vh;
    display: flex;
    list-style: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.884);
    text-transform: capitalize;
    text-decoration: none;
    flex-flow: nowrap;
    justify-content: space-around;
    font-size: 24px;
    
}
#navigator span, #navigator div{
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#navigator>div>ul{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    list-style-type: none;
}
#navigator>div>ul:first-child>li{
    display: flex;
    justify-content: space-around;
}
#navigator img{
    width: 60px;
    height: 60px;
    text-decoration: none;
}
.navtext{
    position: relative;
    top: -50px;
    left: 50px;
}
#arrow{
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#arrow img{
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
}
#arrow a:link{
    background-color: initial;
    margin: 0;
    padding: 0;
}
form{
    display: flex;
    flex-direction: column;
}
details{
    text-decoration: none;
}
a:link{
    color: rgb(249, 253, 5);
    text-decoration: none;
    background-color: initial;
}
a:visited{
    color: rgba(175, 34, 34, 0.185);
    text-decoration: none;
}
a:hover{
    color:rgba(255, 255, 255, 0.842) ;
    text-decoration: none;
}
a:active{
    color:rgba(255, 255, 255, 0.808) ;
    text-decoration: none;
    
}
img:hover{
    width: 50px;
    height: 50px;
}
#logobar{
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
#logobar div{ 
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
#login{
    color: #fde400;
    width: 26vw;
    font-size: 20px;
    list-style: none;
}
#slogan{
    color: #fde400;
    width: 48vw;
    font-size: 70px;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 20px black;
    line-height: 55px;
}
input::placeholder{
    color: #fde400;
}
input{
    background-color: rgba(0, 0, 0, 0.233);
    border: none;
}
#search{
    width: 26vw;
    font-size: 20px;
    font-variant: small-caps;
}
main{

}
/*
#article{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: stretch;
    align-self: center;
    width: 100%;
    height: 50vh;
    background-color: rgb(235, 242, 243);
}
*/
#first-article{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    background-color: rgb(97, 240, 78);
}
#second-article{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    background-color: rgb(233, 230, 66);
}
#third-article{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    background-color: rgb(107, 202, 247);
}
.list{
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.322);
    display: none;
    /*
    visibility: hidden;
    */
    text-align: left;
    padding: 0;
    width: auto;
    height: auto;
    font-weight: normal;
    font-size: 1rem;
}

li{
    text-align: left;
    padding: 2px;
}
li:last-child li:hover{
    background-color: rgba(0, 0, 0, 0.233);
}
.width-height{
    width: 80vw;
    height: 50vh;
}
/*
.display-flex{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: burlywood;
}
*/
main{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
main>div{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
    margin: 1vh auto;
}
main>div:first-child{
    margin-top: 0;
}
main>div>div{
    margin: 1vh 1vw;
}
main>div:first-child>div{
    margin-top: 0;
}
footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.884);
    width: 100%;
    height: 50vh;
}