body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(245, 243, 243, 0.829);
}
#navigator{
    width: 100vw;
    height: 10vh;
    display: flex;
    list-style: none;
    margin: 0;
    background-color: deepskyblue;
    text-transform: uppercase;
    text-decoration: none;
    flex-flow: nowrap;
    justify-content: space-around;
    font-size: 24px;
    
}
#navigator span{
    display: flex;
    margin: 0;
    padding: 0;
}
#navigator img{
    width: 60px;
    height: 60px;
    text-decoration: none;
}
.navtext{
    position: relative;
    top: -50px;
    left: 50px;
}
#logobar{
    width: 100vw;
    height: 40vh;
    background-color: rgb(8, 132, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    list-style: none;
}
#logobar div{ 
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
#arrow{
    margin: 0;
    padding: 0;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#arrow img{
    width: 60px;
    height: 60px;
}
#arrow a:link{
    background-color: rgba(245, 243, 243, 0.829);
}
form{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
details{
    text-decoration: none;
}
a:link{
    color: hsla(0,0%,100%,.7);
    text-decoration: none;
    background-color: rgba(4, 191, 253, 0.555);
}
a:hover{
    color:rgb(0, 0, 0) ;
    text-decoration: none;
}
a:active{
    color:rgb(0, 0, 0) ;
    text-decoration: none;
    
}
a:visited{
    color: rgba(175, 34, 34, 0.185);
    text-decoration: none;
}
img:hover{
    width: 50px;
    height: 50px;
}
