*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(45, 52, 158, 0.836);
    color: white;
    width: 100vw;
}
#facelogo{
    font-size: 50px;
    margin-top: 10px;
    font-weight: bold;
}
#login{
    display: flex;
    width: 31vw;
    height: 10vh;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
#email{
    margin-right: 5px;
}
#password{
    display: flex;
    flex-flow: column;
}
#forgetaccount{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.54);
}
#button{
    display: inline-block;
    width: 70px;
    height: 20px;
    font-size: 12px;
    background-color: #4267B2;
    white-space: nowrap;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    position: relative;
    line-height: 18px;
    top: 20px;
    left: 10px;
    text-decoration: none;
    flex-wrap: nowrap;
    border: none;
}
#main{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 110vh;
    background-image: linear-gradient(white, rgb(191, 191, 250));
}
#main1{
    width: 40vw;
    height: 100vh;
    font-weight: bold;
    color: rgb(6, 6, 156);
    margin-top: 8vh;
    margin-left: 10vw;
    color: #0e385f;
    font-size: 18px;
    line-height: 4vh;
}
#main1 img{
    width: 40vw;
    height: 32vh;
}
#main2{
    width: 40vw;
    height: 100vh;
    margin: 4vh 0;
    line-height: 6vh;
    
}
.header{
    font-weight: bold;
    font-size: 36px;
}
.explanation1{
    font-size: 19px;
}
.explanation2{
    font-size: 11px;
    line-height: 3vh;
    width: 20vw;
}
.info{
    line-height: 2vh;
}
.id{
    display: flex;
}
input[type=text]{
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
}
select{
    text-transform: capitalize;
    font-size: 13px;
    margin: 2px 0;
    padding: 4px 6px;
}
.id input{
    height: 7vh;
    width: 13vw;
    margin-right: 1vw;
    line-height: 5px;
}
.gray-font{
    font-weight: bold;
    font-size: 16px;
    color: #90949c;
}
.space{
    display: flex;
    margin-right: 2vw;
}
.contact input{
    height: 7vh;
    width: 27vw;
    line-height: 5px;
}
#footer{
    display: block;
    position: relative;
    left: 10vw;
    top: 1vh;
    width: 80vw;
    text-decoration: none;
    font-size: 12px;
    line-height: 4vh;
    letter-spacing: 0.5px;
}
.footer-sections{
    display: block;
    width: 80vw;
}
.hrline{
    border-bottom: 1px solid black;
}
ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;

}
ul li{
    margin-right: 15px;
}
li img{
    width: 3vw;
    height: 3vh;
}
a:link{
    text-decoration: none;
    cursor: auto;
}
a:visited{
    color: rgba(92, 92, 224, 0.726);
}
a:hover{
    text-decoration: none;
    color: brown;
}
a:active{
    text-decoration: none;
    color: cyan;
}



























