* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a:link {
    cursor: auto;
    text-decoration: none;
}
a:visited {
    color: rgba(92, 92, 224, 0.726);
}
a:hover {
    color: brown;
    text-decoration: none;
}
a:active {
    color: cyan;
    text-decoration: none;
}
nav {
    background-color: rgba(45, 52, 158, 0.836);
    color: white;
    justify-content: space-around;
    width: 100vw;
}
#main {
    background-image: linear-gradient(white, rgb(191, 191, 250));
    height: 100vh;
    justify-content: space-around;
    width: 100vw;
}
#main1 {
    color: #0e385f;
    font-size: 18px;
    height: 100vh;
    line-height: 4vh;
    margin-top: 8vh;
    margin-left: 10vw;
    width: 40vw;
}
#main2 {
    height: 100vh;
    line-height: 6vh;
    margin: 4vh 0;
    width: 40vw;
}
#facelogo {
    font-size: 50px;
    margin-top: 10px;
}
#login {
    font-size: 12px;
    height: 10vh;
    line-height: 20px;
    margin-top: 10px;
    width: 31vw;
}
#email {
    margin-right: 5px;
}
#password {
    flex-flow: column;
}
#forgetaccount {
    font-size: 12px;
}
#forgetaccount a:link,
#forgetaccount a:visited {
    color: rgb(61, 58, 58) !important;
}
#button {
    background-color: #4267B2;
    border: none;
    color: white;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    left: 10px;
    line-height: 18px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    top: 20px;
    width: 70px;
}
#main1 img {
    height: 32vh;
    width: 40vw;
}
.header {
    font-size: 36px;
}
.explanation1 {
    font-size: 19px;
}
.explanation2 {
    font-size: 11px;
    color: #7c8088;
    line-height: 3vh;
    width: 25vw;
}
.explanation3 {
    color: #666;
    font-size: 13px;
}
.info {
    line-height: 2vh;
}
input[type=text] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin: 8px 0;
    padding: 12px 20px;
}
.pointer {
    cursor: pointer;
}
li input {
    background-color: whitesmoke;
    color: rgb(104, 98, 98);
    font-size: 24px;
    height: 5vh;
    width: 3vw;
}
select {
    font-size: 13px;
    margin: 2px 0;
    padding: 4px 6px;
    text-transform: capitalize;
}
.id input {
    height: 6vh;
    line-height: 5px;
    margin-right: 1vw;
    width: 13vw;
}
.gray-font {
    color: #90949c;
    font-size: 16px;
}
.space {
    margin-right: 2vw;
}
.contact input {
    height: 6vh;
    line-height: 5px;
    width: 27vw;
}
#footer {
    display: block;
    font-size: 12px;
    left: 10vw;
    letter-spacing: 0.5px;
    line-height: 4vh;
    position: relative;
    text-decoration: none;
    top: 1vh;
    width: 80vw;
}
.footer-sections {
    display: block;
    width: 80vw;
}
.hrline {
    border-bottom: 1px solid #7c8088;
}
#kaydol {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
    color: whitesmoke;
    font-size: 19px;
    height: 7vh;
    margin: 10px 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    width: 15vw;
}
ul {
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
ul li {
    margin-right: 15px;
}
li img {
    height: 3vh;
    width: 3vw;
}
.weight-font {
    font-weight: bold;
}
.display-flex {
    display: flex;
}