*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(45, 52, 158, 0.836);
    color: white;
    width: 100vw;
}
#facelogo{
    font-size: 50px;
    margin-top: 10px;
    font-weight: bold;
}
#login{
    display: flex;
    width: 31vw;
    height: 10vh;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
#email{
    margin-right: 5px;
}
#password{
    display: flex;
    flex-flow: column;
}
#forgetaccount{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.54);
}
#button{
    display: inline-block;
    width: 70px;
    height: 20px;
    font-size: 12px;
    background-color: #4267B2;
    white-space: nowrap;
    text-align: center;
    text-shadow: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    position: relative;
    line-height: 18px;
    top: 20px;
    left: 10px;
    text-decoration: none;
    flex-wrap: nowrap;
    border: none;
}
#main{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(white, rgb(191, 191, 250));
}
#main1{
    width: 30vw;
    height: 100vh;
    font-weight: bold;
    color: rgb(6, 6, 156);
}
#main1 img{
    width: 30vw;
    height: 20vh;
}
#main2{
    width: 30vw;
    height: 100vh;
}
#footer{
    display: block;
    position: relative;
    left: 10vw;
    top: 1vh;
    width: 80vw;
    text-decoration: none;
    font-size: 12px;
    line-height: 4vh;
    letter-spacing: 0.5px;
}
.footer-sections{
    display: block;
    width: 80vw;
}
ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;

}
ul li{
    margin-right: 15px;
}
li img{
    width: 3vw;
    height: 3vh;
}
a:link, a:visited{
    text-decoration: none;
    cursor: auto;
}




























