body{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/21/10/01/desktop-3246124_960_720.jpg");
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
}
nav img{
    width: 20px;
    height: 20px;
}
.left-arrow{
    margin-top: 10px;
    margin-left: 10px;
}
.three-dot{
    margin-top: 10px;
    margin-right: 10px;
}
#main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: nowrap;
    flex-direction: column;
}
#profil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 28vh;
    background-color: rgba(211, 207, 207, 0.425);
    border-radius: 10px;
    box-shadow: 0.5px 1px black;
    margin-top: 10vh;
}
#input-profile-foto{
    background-image: url("https://www.flaticon.com/premium-icon/icons/svg/279/279249.svg");
}
#profil p{
    display: flex;
    flex-flow: wrap;
}
#profile-foto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#profile-foto input{
    display: flex;
    width: 20px;
    height: 20px;
}
#settings{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60vw;
    height: 28vh;
    background-color: rgba(211, 207, 207, 0.425);
    border-radius: 10px;
    box-shadow: 0.5px 1px black;
    margin-top: 5vh;
    color: rgb(0, 0, 0)
}
#settings img{
    width: 4vw;
    height: 4vh;
}
#settings span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
section h4{
    margin-bottom: 0;
    text-transform: uppercase;
}
.set{
    display: flex;
    
}
.entity{
    display: flex;
}
#privacy-set{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 28vh;
    background-color: rgba(211, 207, 207, 0.425);
    border-radius: 10px;
    box-shadow: 0.5px 1px black;
    margin-top: 5vh;
}
#profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}
#profile-foto{
    display: flex;
    justify-content: center;
    background-image: url("https://image.flaticon.com/icons/svg/145/145843.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    padding-top: ;
}
div p{
    font-size: 12px; 
}
#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#icons img{
    width: 15px;
    height: 15px;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgba(0, 0, 0, 0.507);
}
a:active{
    color: rgb(0, 0, 0);
}
a:visited{
    color: rgb(1, 3, 19);
}
