html, body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url("bgimage.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#mobile{
    display: flex;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
    width: 33vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap;
    flex-direction: column;
}
#bgimg{
    display: flex;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/21/10/01/desktop-3246124_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24vh;
    
}
#profil-section{
    display: flex;
    position: relative;
    top: -80px;
    width: 25vw;
    height: 20vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}
#settings-section{
    display: flex;
    position: relative;
    top: -30px;
    width: 25vw;
    height: 20vh;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
}
#menu{
    display: flex;
    position: relative;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 33vw;
}
#upbar{
    display: flex;
    justify-content: space-between;
    color: rgb(255,255,255);
}
