*, *::before, *::after{
    text-align: center;
}
html, body{
    background-color: tomato;
}

#login-container{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

#header{
    color: white;
    font-family: 'Tahoma, sans-serif';
    text-transform: uppercase;
}